################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.venv
/Development/.vs
/Development/assembly-crawler/AssemblyCrawler/bin/Debug/netstandard2.1
/Development/assembly-crawler/.vs/assembly-crawler/v17
/Development/assembly-crawler/AssemblyCrawler/obj
/Development/AssemblyCrawler.Test/bin
/Development/AssemblyCrawler.Test/obj
/Development/TestAssemblyNET48/obj/Debug
/Development/TestFixtureSupport/obj
/Development/Barber.AutoDiagrammer/bin/Debug
/Development/Barber.AutoDiagrammer/obj
/Development/AssemblyCrawler.Console/bin/Debug
/Development/AssemblyCrawler.Console/obj
/Development/AssemblyCrawler.Console/AssemblyCrawler.Console.csproj.user
/Development/AssemblyCrawler.Console/bin/x64/Debug/net48
/Development/TestGenericAssembly/obj
/Output
