################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Development/assembly-crawler/AssemblyCrawler/bin/Debug/netstandard2.1
/Development/assembly-crawler/.vs/assembly-crawler/v17
/Development/assembly-crawler/AssemblyCrawler/obj
