<?xml version="1.0" encoding="utf-8"?>
<Package>
	<OutputPath>D:\repos\assembly-crawler-WTRG1036\typings</OutputPath>
	<DefaultAssemblyFolder>D:\p4v\Teton\WTRG1036\Aspen\Products\WaterGEMS\Output\_Starter\x64\Debug</DefaultAssemblyFolder>
	<SystemAssemblies>
		<SystemAssembly>
			<Name>System</Name>
			<Namespaces>
				<Namespace>
					<Name>System</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>Guid</Name>
						</Class>
						<Class>
							<Name>ICloneable</Name>
						</Class>
						<Class>
							<Name>TypeCode</Name>
						</Class>
						<Class>
							<Name>EventArgs</Name>
						</Class>
						<Class>
							<Name>IntPtr</Name>
						</Class>
						<Class>
							<Name>EventHandler</Name>
						</Class>
						<Class>
							<Name>EventArgs</Name>
						</Class>
						<Class>
							<Name>TimeSpan</Name>
						</Class>
						<Class>
							<Name>IComparable`1</Name>
						</Class>
						<Class>
							<Name>IEquatable`1</Name>
						</Class>
						<Class>
							<Name>IFormattable</Name>
						</Class>
						<Class>
							<Name>IComparable</Name>
						</Class>
					</Classes>
				</Namespace>
				<Namespace>
					<Name>System.Collections</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>SortedList</Name>
						</Class>
						<Class>
							<Name>IComparer</Name>
						</Class>
						<Class>
							<Name>ICollection</Name>
						</Class>
						<Class>
							<Name>IDictionaryEnumerator</Name>
						</Class>
						<Class>
							<Name>DictionaryEntry</Name>
						</Class>
						<Class>
							<Name>IEnumerator</Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</SystemAssembly>
		<SystemAssembly>
			<Name>System.Runtime</Name>
			<Namespaces>
				<Namespace>
					<Name>System</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>AsyncCallback</Name>
						</Class>
						<Class>
							<Name>IAsyncResult</Name>
						</Class>
						<Class>
							<Name>Delegate</Name>
						</Class>
					</Classes>
				</Namespace>
				<Namespace>
					<Name>System.Collections.Generic</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>IReadOnlyCollection`1</Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</SystemAssembly>
		<SystemAssembly>
			<Name>System.Runtime.Serialization</Name>
			<Namespaces>
				<Namespace>
					<Name>System.Runtime.Serialization</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>ISerializable</Name>
						</Class>
						<Class>
							<Name>SerializationInfo</Name>
						</Class>
						<Class>
							<Name>StreamingContext</Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</SystemAssembly>
	</SystemAssemblies>
	<Assemblies>
		<Assembly>
			<Name>Haestad.Support.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>Haestad.Support.Support</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>INamable</Name>
						</Class>
						<Class>
							<Name>ILabeled</Name>
						</Class>
						<Class>
							<Name>IEditLabeled</Name>
						</Class>
						<Class>
							<Name>GeometryPoint</Name>
						</Class>
						<Class>
							<Name>FieldCollection</Name>
						</Class>
						<Class>
							<Name>HmIDCollection</Name>
						</Class>
						<Class>
							<Name>FilterContextCollection</Name>
						</Class>
						<Class>
							<Name>SortContextCollection</Name>
						</Class>
						<Class>
							<Name>GeometryRectangle</Name>
						</Class>
						<Class>
							<Name>IField</Name>
						</Class>
						<Class>
							<Name>IEditField</Name>
						</Class>
						<Class>
							<Name>ISortContext</Name>
						</Class>
						<Class>
							<Name>IFilterContext</Name>
						</Class>
						<Class>
							<Name>FieldTypeCollection</Name>
						</Class>
						<Class>
							<Name>IMementoable</Name>
						</Class>
						<Class>
							<Name>IMemento</Name>
						</Class>
					</Classes>
				</Namespace>
				<Namespace>
					<Name>Haestad.Support.User</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>Haestad.Support.Units</Name>
					<ClassType>All</ClassType>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>Haestad.LicensingFacade.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>Haestad.LicensingFacade</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>License</Name>
						</Class>
						<Class>
							<Name>ProductRelease</Name>
						</Class>
						<Class>
							<Name>FeatureMap</Name>
						</Class>
						<Class>
							<Name>ILicense</Name>
						</Class>
						<Class>
							<Name>ILicenseProvider</Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>Haestad.Domain.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>Haestad.Domain</Name>
					<ClassType>All</ClassType>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>Haestad.Domain.ModelingObjects.Water.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name></Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name></Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>Haestad.Calculations.Pressure.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>Haestad.Calculations.Pressure</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name></Name>
						</Class>
					</Classes>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>OpenFlows.dll</Name>
			<XmlDoc>OpenFlows.xml</XmlDoc>
			<Namespaces />
		</Assembly>
		<Assembly>
			<Name>OpenFlows.Water.dll</Name>
			<XmlDoc>OpenFlows.Water.xml</XmlDoc>
			<Namespaces />
		</Assembly>
	</Assemblies>
</Package>