<?xml version="1.0" encoding="utf-8"?>
<Package>
	<OutputPath>D:\repos\OpenFlowsAPI-water-stubs\typings</OutputPath>
	<DefaultAssemblyFolder>D:\p4v\Aspen\Products\WaterGEMS\Output\_Starter\x64\Debug</DefaultAssemblyFolder>
	<SystemAssemblies/>
	<Assemblies>
		<Assembly>
			<Name>Haestad.Support.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>Haestad.Support.Support</Name>
					<ClassType>ClassListOnly</ClassType>
					<Classes>
						<Class>
							<Name>INamable</Name>
						</Class>
						<Class>
							<Name>ILabeled</Name>
						</Class>
						<Class>
							<Name>IEditLabeled</Name>
						</Class>
						<Class>
							<Name>GeometryPoint</Name>
						</Class>
						<Class>
							<Name>FieldCollection</Name>
						</Class>
						<Class>
							<Name>HmIDCollection</Name>
						</Class>
						<Class>
							<Name>FilterContextCollection</Name>
						</Class>
						<Class>
							<Name>SortContextCollection</Name>
						</Class>
						<Class>
							<Name>GeometryRectangle</Name>
						</Class>
						<Class>
							<Name>IField</Name>
						</Class>
						<Class>
							<Name>ISortContext</Name>
						</Class>
						<Class>
							<Name>IFilterContext</Name>
						</Class>
						<Class>
							<Name>FieldTypeCollection</Name>
						</Class>
					</Classes>
				</Namespace>
				<Namespace>
					<Name>Haestad.Support.Units</Name>
					<ClassType>All</ClassType>
				</Namespace>
			</Namespaces>
		</Assembly>
		<Assembly>
			<Name>Haestad.LicensingFacade.dll</Name>
			<XmlDoc />
			<Namespaces />
		</Assembly>
		<Assembly>
			<Name>Haestad.Domain.dll</Name>
			<XmlDoc />
			<Namespaces />
		</Assembly>
		<Assembly>
			<Name>OpenFlows.dll</Name>
			<XmlDoc>OpenFlows.xml</XmlDoc>
			<Namespaces />
		</Assembly>
		<Assembly>
			<Name>OpenFlows.Water.dll</Name>
			<XmlDoc>OpenFlows.Water.xml</XmlDoc>
			<Namespaces />
		</Assembly>
	</Assemblies>
</Package>