<?xml version="1.0" encoding="utf-8"?>
<Package>
	<OutputPath>D:\repos\WaterSight.Web\typings</OutputPath>
	<DefaultAssemblyFolder>D:\repos\WaterSight.Web\Output\WaterSight.Web\bin\x64\Debug</DefaultAssemblyFolder>
	<Assemblies>
		<Assembly>
			<Name>WaterSight.Web.dll</Name>
			<XmlDoc />
			<Namespaces>
				<Namespace>
					<Name>WaterSight.Web</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Alerts</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Core</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Customers</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.DT</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Extensions</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.GIS</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.HydraulicStructures</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.NumericMethods</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Sensors</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Settings</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Setup</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Support</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.User</Name>
					<ClassType>All</ClassType>
				</Namespace>
				<Namespace>
					<Name>WaterSight.Web.Zones</Name>
					<ClassType>All</ClassType>
				</Namespace>
			</Namespaces>
		</Assembly>
	</Assemblies>
</Package>